<section class="cards-wrapper">
    <div class="card-grid-space">
      <a class="card"  style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
        <div>
          <h1>Stock exchange</h1>
          <p>A stock exchange, securities exchange, or bourse is an exchange where stockbrokers and traders can buy and sell securities, such as shares of stock, bonds and other financial instruments</p>
          <div class="date">6 Oct 2017</div>
          <div class="tags">
            <div class="tag">Bourse</div>
          </div>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
      <a class="card" href="https://codetheweb.blog/2017/10/09/basic-types-of-html-tags/" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
        <div>
          <h1>Business</h1>
          <p>Business is the practice of making one's living or making money by producing or buying and selling products</p>
          <div class="date">9 Oct 2017</div>
          <div class="tags">
            <div class="tag">Business</div>
          </div>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
      <a class="card" href="https://codetheweb.blog/2017/10/14/links-images-about-file-paths/" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
        <div>
          <h1>Insurance</h1>
          <p>Insurance is a means of protection from financial loss in which, in exchange for a fee, a party agrees to compensate another party in the event of a certain loss, damage, or injury.</p>
          <div class="date">14 Oct 2017</div>
          <div class="tags">
            <div class="tag">Assurance</div>
          </div>
        </div>
      </a>
    </div>
  </section>