
<div style="min-height: 91vh; padding: 30px;" *ngIf="questions" >
    <div>
        <div class="container">
            <ng-container *ngIf="questions.length === 0 " >
                        <p>No questions found </p>
            </ng-container>

            <div class="search-box" >
              <button class="btn-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                <i class="fas fa-search"></i></button>
              <input type="text" class="input-search"  placeholder="Type to Search..." [(ngModel)]="searchForm.value.questionId" >
            </div>  
            
            <div class="container" >
                <div class="child" *ngFor ="let  question of questions">
                <a class="card1" routerLink="/user/question/{{question.id}}">
                  <h3>{{question.title}}</h3>
                  <p class="small">{{question.body}}</p>
                  <div class="tags-container">
                    <p class="small">{{question.tags}}</p>
                 </div>
                 <h5>
                    Posted By : <b>{{question.username}}</b> -
                    Posted on : <b>{{question.createdDate | date : 'dd/MM/YYYY'}}</b>
                </h5>
                  <div class="go-corner" routerLink="/user/question/{{question.id}}">
                    <div class="go-arrow">
                      →
                    </div>
                  </div>
                  
                </a>
                </div>
            </div>

            
            <div class="pagination">
                <mat-paginator [length]="total" [pageIndex]="pageNum" [pageSize]="5" 
                (page)="pageIndexChange($event)"></mat-paginator>
            </div>

        </div>
    </div>
    

</div>

